<!DOCTYPE html>
<html>
{{!-- <head><link rel="stylesheet" href="invoice.css"></head> --}}
<body style="padding: 3rem">
    <h1 style="margin-top: 3rem">Job Description</h1>
    <p><strong>Job Title:</strong> {{ job_title }}</p>
    <p><strong>Location:</strong> {{ location }}</p>

    <h4 style="margin-top: 1rem">Overview:</h4>
    <p>{{ job_overview }}</p>

    <h4 style="margin-top: 1rem">Requirements:</h4>
    {{!-- <p>{{ requirements }}</p> --}}
    <ul>
      {{#each requirements}}
        <li>{{this}}</li>
      {{/each}}
    </ul>

    <p><strong>Years of Experience:</strong> {{ years_of_experience }}</p>
    <p><strong>Contact Details:</strong> {{ contact_details }}</p>
</body>
</html>