<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="template.css">

  <style>

    :root {

    }

    *,
    ::before,
    ::after {
      box-sizing: border-box;
    }

    * {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
    }

    ol,
    ul {
      list-style: none;
    }

    img,
    svg,
    video,
    canvas,
    picture {
      display: block;
      max-width: 100%;
    }

    input,
    button,
    select,
    textarea {
      font: inherit;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span {
      overflow-wrap: break-word;
    }

    * {
      font-size: 14px;
      font-family: sans-serif;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    .logo,
    .title,
    .overview,
    .responsibility,
    .profile {
      margin-bottom: 1rem;
    }

    .details-wrapper {
      width: 100%;
      margin-bottom: 1rem;
    }

    .logo,
    .title,
    .competencies-wrapper,
    .pdf-footer-wrapper {
      width: 100%;
      margin-bottom: 1.5rem;
    }

    .profile-qualification-wrapper {
      width: 100%;
      margin-bottom: 2rem;
    }

    .logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      max-width: 100%;
    }

    .logo img {
      height: auto;
      max-width: 100%;
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
    }

    .title h1 {
      font-size: 2rem;
      text-align: center;
    }

    .details {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      width: 100%;
    }

    .details > div {
      display: flex;
      flex-direction: column;
    }

    .overview {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }

    .overview header {
      width: 100%;
      background-color: black;
      padding: 0.2rem;
      padding-left: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .overview h3 {
      color: white;
    }

    .responsibility {
      display: flex;
      flex-direction: column;
      width: 100%;
      border: 1px solid black;
    }

    .responsibility header {
      width: 100%;
      padding: 0.25rem;
      padding-left: 0.5rem;
      border-bottom: 1px solid black;
      background-color: rgb(200, 200, 200);
    }

    .responsibility header h3 {
      color: black;
    }

    .responsibility div {
      width: 100%;
      padding: 0.25rem;
      padding-left: 0.5rem;
    }

    .competency-heading {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .competencies {
      display: flex;
      flex-direction: column;
      width: 100%;
      border: 1px solid black;
    }

    .competencies header {
      display: grid;
      grid-template-columns: 2fr 5fr;
      width: 100%;
      background-color: rgb(200, 200, 200);
    }

    .competency {
      display: grid;
      grid-template-columns: 2fr 5fr;
      width: 100%;
      border-top: 1px solid black;
    }

    .competency-name {
      border-right: 1px solid black;
    }

    .competency-name,
    .competency-description {
      padding: 0.25rem;
      padding-left: 0.5rem;
    }

    .qualification {
      display: flex;
      flex-direction: column;
      width: 100%;
      border: 1px solid black;
    }

    .qualification header {
      display: grid;
      grid-template-columns: 2fr 5fr;
      width: 100%;
      background-color: rgb(200, 200, 200);
    }

    .qualification-name {
      border-right: 1px solid black;
    }

    .qualification-name,
    .qualification-description {
      padding: 0.25rem;
      padding-left: 0.5rem;
    }

    .qual-experience,
    .qual-education,
    .qual-study,
    .qual-knowledge {
      display: grid;
      grid-template-columns: 2fr 5fr;
      width: 100%;
      border-top: 1px solid black;
    }

    .profile {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5rem;
      width: 100%;
    }

    .profile header {
      width: 100%;
      background-color: black;
      padding: 0.2rem;
      padding-left: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .profile h3 {
      color: white;
      margin-bottom: 0.25rem;
    }

    .pdf-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      width: 100%;
    }

    .pdf-footer p {
      text-align: center;
      font-style: italic;
    }

    .avoid-break {
      display: block;
      break-inside: avoid;
    }

  </style>
</head>
<body>

    <div class="logo">
      <img src={{ logo.src }} alt={{logo.alt}}>
    </div>

    <header class="title">
      {{#if company.trading}}
        <h1>{{ company.name }} trading as {{ company.trading }}</h1>
      {{else}}
        <h1>{{ company.name }}</h1>
      {{/if}}
      <span>Job Description for {{ employee.first_name }} {{ employee.last_name }}</span>
    </header>

    <div class="details-wrapper avoid-break">
       <div class="details">
        <div>
          <h5>Job Title:</h5>
          <span>{{ details.title }}</span>
        </div>

        <div>
          <h5>Date:</h5>
          <span>{{ date }}</span>
        </div>

        <div>
          <h5>Location:</h5>
          <span>{{ details.location }}</span>
        </div>

        <div>
          <h5>Reports to:</h5>
          <span>Line Manager</span>
        </div>
      </div>
    </div>

    <div class="overview avoid-break">
      <header>
        <h3>Job Overview</h3>
      </header>
    
      <p>{{ completion.job_overview }}</p>
    </div>


    <div class="responsibility avoid-break">
      <header>
        <h3>Responsibility / Activity</h3>
      </header>

      <div>
        <ul>
          {{#each completion.requirements}}
            <li>&#x2022; {{this}}</li>
          {{/each}}
        </ul>   
      </div>
    </div>

    {{#if showCompetencies}}
      <div class="competencies-wrapper avoid-break">

        <h4 class="competency-heading">Role in Business Process</h4>

        <div class="competencies">
          <header>
            <div class="competency-name">
              <h3>Competency Required</h3>
            </div>

            <div class="competency-description">
              <h3>Description of competency</h3>
            </div>
          </header>

          {{#each competencies}}
            {{#if this.render}}
              <div class="competency">
                <div class="competency-name">
                  <h4>{{this.name}}</h4>
                </div>

                <div class="competency-description">
                  <ul>
                    {{#each this.list}}
                      <li>&#x2022; {{this}}</li>
                    {{/each}}
                  </ul> 
                </div>
              </div>
            {{/if}}
          {{/each}}
        </div>

      </div>
    {{/if}}

    
    <div class="profile-qualification-wrapper">

      <div class="profile">
        <header>
          <h3>Candidate Profile</h3>
        </header>

        <h4>Qualifications</h4>

        <p>This section should describe the education and experience required / preferred for the position.</p>
      </div>

      <div class="qualification">
        <header>
          <div class="qualification-name">
            <h3>Area Qualification</h3>
          </div>

          <div class="qualification-description">
            <h3>Description of what's needed</h3>
          </div>
        </header>

        {{#if details.years}}
          <div class="qual-experience">
            <div class="qualification-name">
              <h4>Experience</h4>
            </div>

            <div class="qualification-description">
              <p>{{ details.years }} years of relevant experience required.</p> 
            </div>
          </div>
        {{/if}}

        <div class="qual-education">
          <div class="qualification-name">
            <h4>Education</h4>
          </div>

          <div class="qualification-description">
            <p>{{ details.education }} required.</p>
          </div>
        </div>

        {{#if details.study }}
          <div class="qual-study">
            <div class="qualification-name">
              <h4>Field of Study</h4>
            </div>

            <div class="qualification-description">
              <p>The desired field of study is {{ details.study }}.</p>
            </div>
          </div>
        {{/if}}
      </div>

    </div>

    <div class="pdf-footer-wrapper avoid-break">

      <footer class="pdf-footer">
        <p>This description has been designed to indicate the general nature of and the criteria required to perform this function. It will be subject to regular review with the post holder and your Manager.</p>

        {{#if company.trading}}
          <p>{{ company.name }} trading as {{ company.trading }} is an equal opportunity employer and does not discriminate against individuals on the basis of gender, age, race, colour, nationality, ethnic or national origin, religion, marital status, family status, sexual orientation, disability or membership of the travelling community.</p>
        {{else}}
          <p>{{ company.name }} is an equal opportunity employer and does not discriminate against individuals on the basis of gender, age, race, colour, nationality, ethnic or national origin, religion, marital status, family status, sexual orientation, disability or membership of the travelling community.</p>
        {{/if}}
      </footer>

    </div>

</body>
</html>